/* */
 @media (min-width: 768px) { 
    
.btnsearch{  
    border-color: #FAFAFA;
    background-color: #ff0013 !important;
    color: white !important;  
}

.col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}


.search-form {

    position: absolute;
    left:50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    width: 40%;
    }

    }

@media only screen and (max-width: 559.9px){

    a.logo-a img {
        width: 120px;
        padding-bottom: 5px;
    }
}
 
@media (min-width: 992px){

 
} 

@media only screen and (max-width: 991.9px){
.top-bar-main { 
    display: block;
}
}

@media only screen and (max-width: 559.9px){
a.Things-to-do-see-all:after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #bfbfbf;
    width: 25%;
    margin-left: 15px;
    top: 50%;
}
}




.carousel-inner img {
    max-width: 100%;
  height: auto;
 }

 .c1 img {
    max-width: 100%;
    height: auto;
 justify-content: center;
 }

 
 @media (min-width: 1200px) { 
     .carousel-inner img{
         width: 1350px;
     height: 500px;
     }
     .c1 img {
        max-width: 100%;
        height: auto;
     justify-content: center;
     }
 }
 @media (min-width: 1920px) { 
     .carousel-inner img{
         width: 1920px;
     height: 1080px;
     }
     .c1 img {
        max-width: 100%;
        height: auto;
     justify-content: center;
     }
 }
 @media (min-width: 768px) { /* for devices above 768px */
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%;
    }
    
    
}


 /* footer section */
@media only screen and (max-width: 767.9px){  
.footer-one {
    display: block;
}}

@media only screen and (max-width: 767.9px){
.col-md-8.col-12.logo {
    text-align: center;
    padding-bottom: 20px;
}
}

@media only screen and (max-width: 767.9px){
.col-md-4.footer-menu.main-01 ul {
    float: none;
    justify-content: center;
}
}

@media only screen and (max-width: 559.9px){
ul.footer-main li a {
    font-size: 12px;
}}

/*Second footer section*/

@media only screen and (max-width: 767.9px){
ul.footer-main.social-media {
    justify-content: center;
    padding: 10px;
}}

/*Bottom footer section*/

@media (max-width: 1024px){
.elementor-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
}

@media (min-width: 1200px){
.container {
    max-width: 1140px;
}
}