/*Homepage*/

.Mainmenu{
    display: flex;
    padding: 10px;
}
section.top-bar-section {
    background-color: #F2F2F2;
}
.top-bar-main {
    display: flex;
    padding: 10px;
}

.top-main {
    align-self: center;
    text-align: center;
}
.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

a.logo-a img {
    width: 120px;
    padding-bottom: 5px;
}

.img {
    border-style: none;
}

ul.main-icons {
    list-style: none;
    display: flex;
    margin: 10px;
    margin: 0;
    padding: 0;
}
a.icon01-link {
    position: relative;
}
a.icon01-link i {
    color: #c8c8c8;
    font-size: 20px;
}
li.icon01 {
    /* margin-left: 10px; */
    margin: 0 auto;
    align-self: center;
}


.img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    border: 0;
    border-style: none;
}
.Add-Travel-Deal:hover {
    color: white;
    background-color: #000000;
    transition: .3s;
    text-decoration: none;
}
.top-main p {
    margin: 0;
    font-weight: 400;
    color: #58595b;
    font-family: 'Raleway', sans-serif;
    font-size: inherit;
    letter-spacing: 3px;
}
a.icon01-link span {
    color: white;
    background-color: rgb(255, 0, 19);
    padding: 2px;
    border-radius: 50%;
    position: absolute;
    width: 18px;
    font-size: 9px;
    font-weight: 700;
    top: -10px;
    right: -10px;
}
.Add-Travel-Deal {
    background-color: rgb(255, 0, 19);
    padding: 10px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    transition: .3s;
    font-weight: 600;
}



.navbar-text{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text1{
   
    font-family:'Raleway', sans-serif;
   
    font-style:inherit;
    color: #58595b;
    font-weight:600;
    font-size: 12px;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
}

.navbar-brand{
    justify-content: center;
    align-self: center;
    position: relative;
  max-width: 100%;
  height: auto;
   
}
.icons{
    text-align: center;
}

.icon4{
    border-radius: 50px;
    padding: 8px;
    font-size: 13px;
}

.icon1{
margin-left: 10px;
margin-right: 10px;
margin: auto;
color: #c8c8c8;
}

/*Secondary Menu with links */

.Mycontainer{
    background-color: #FAFAFA;
 
 
}

.link1{
    color:#58595b;
    padding-right: 0;
    padding-left: 0;
}
.navbar-toggler.t1{
    background-color:#FAFAFA;
     color: #c8c8c8;
     border-color: rgba(0,0,0,.1);
     
}

/*Main Image */

.parallax{
    background-image: url(Images/HomePageImages/01.png), url(Images/HomePageImages/02.png),url(Images/HomePageImages/03.png),url(Images/HomePageImages/04.png);
    position: relative;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
  
}

/*Red Bar and the search area */

.RedArea{
    height: 100px;
    position: relative;
}
.Area1{
    width: 100%;
    height: 50px;
    background-color:#ff0013;
}

.search-form {

position: absolute;
left:50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
display: flex;
width: 80%;
}
.search-form.form-control{
    margin: 0 !important;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #FAFAFA;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 26%);
    width: 100%;
}

.btnsearch{
   
    border-color: #FAFAFA;
    background-color: #ff0013 !important;
    color: white !important;
    border: 1px solid;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 26%);
    width: 20%;
   
}


.single-cat {
    font-size: 14px;
    display: grid;
    font-style:inherit;
    font-weight:500;
}

.single-cat {
    text-align: center;
    border: none;
    background-color: white;
    cursor: pointer;
    color: #000;
}


/*=Categories Section */

.category {
    margin:0 10%;
    background-color: #fff;
   margin-bottom: 30px;
}

.categories{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   background-color: #fff;
}


.row.r1 { 
    background-color: #fff;
  color: white;
    padding: 5px;
    padding: 10px 0px;
    margin-right: 0;
    margin-left: 0;
  
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.Mycontainer{ 
    width: 100%;
}

.row {
   
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
}
.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}






/*Left side section*/

.left-side{
   border-right: #212529;
   
}


.DetailsSection{
    margin-right: 3px;
    margin-left: 3px;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.left-sign-in {
    text-align: center;
    background-color: white;
    padding-top: 10px;
}

img.left-logo {
    width: 120px;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.sign-details {
    display: flex;
    text-align: left;
    padding-bottom: 15px;
}

.sign-details i {
    font-size: 10px;
    padding-top: 3px;
    color: #58595b;
}

.card-text:last-child {
    margin-bottom: 0;
}

.sign-details p {
    font-size: 13px;
    color: rgb(88, 89, 91);
    padding-left: 5px;
}

/* Login button button*/
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

a.btn.log-in {
    background-color: #ff0013;
    color: white;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* register button*/
a.btn.Register {
    color: #ff0013;
    border: 1px solid #ff0013;
}

/* tour locator button*/
.Tour-Locator1 {
    width: 100%;
    background-color: #ff0013;
    color: white;
   
}


.top-destinations {
    background-color: white;
    padding: 10px;
}
h5.top-destinations-topic {
    font-size: 16px;
    font-weight: 600;
}
.img-hover-zoom {
    overflow: hidden;
}

.single-destination {
    position: relative;
    margin-bottom: 10px;
}

.desti-detail {
    background-color: #000000b0;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 1s;
}

h5.desti.topic {
    color: white;
    padding-top: 5px;
    text-align: center;
    margin-bottom: 1px;
   margin-top: 1px;
    
}
.desti {
    padding: 0;
    margin: 0;
}

p.desti.topic2 {
    font-size: 13px;
    margin-bottom: 5px;
}
.img-hover-zoom img {
    transition: transform .5s ease;
}

img.top-desti {
    width: 100%;
}








/*Middle section*/

h5.caption {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #ce070d;
    letter-spacing: 2px;
}

h5.caption span{
    color: #58595b;
}

h5.caption1 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #ce070d;
    letter-spacing: 2px;
}

.caption2{
    font-size: 13px;
    color: rgb(88, 89, 91);
    padding-left: 5px;
}



a.Things-to-do-see-all {
    background-color: #ff0013;
    color: white;
    border-radius: 0;
    padding: 4px 8px;
    position: absolute;
    right: 5px;
    top: -3px;
}
.text1 a {
    margin-left: 20px;
    font-size: 13px;
    color: #FAFAFA;
}

.text1 {
    display: flex;
    position: relative;
}

.carousel-multi-item-2 .card img {
    border-radius: 2px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  
 
/*Owl Carousel*/
 .CardTop{
     height:160px;
     width: 100%;
     object-fit: cover;
 }

 .owl-prev{
     left: -30px;
 }
.owl-next{
    right: -30px;
}

.owl-prev, .owl-next
{
    position: absolute;
    top: 90px;
}

.owl-prev span ,.owl-next span{
    font-size: 60px;
    color: #212529;
}

.owl-theme , .owl-nav[class*="owl-"]:hover{
    background: transparent;
}

 /*.controls-top{
     text-align: center;
 }
*/



/*Right side section*/

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.top-ads-topic {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

.right-image-top {
    background: white;
    padding-top: 1px;
    padding-bottom: 10px;
}

.right-image {
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    border: 0;
    border-style: none;
}




/*Footer Section*/

/*Footer Top*/

section.footer {
    background-color: rgb(215, 213, 214);
    padding: 20px 10px;
    margin-top: 30px;
    padding-bottom: 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12.footer-one {
    border-bottom: 1px solid #887979;
    padding-bottom: 10px;
    float: left;
}
.col-12.footer-one img {
    width: 120px;
}
.col-md-4.footer-menu {
    float: right;
    align-self: flex-end;
}

.col-md-4.footer-menu.main-01 ul {
    float: right;
}

ul.footer-main {
    display: flex;
    margin: 0;
    padding: 0;
}
ul.footer-main li:first-child {
    border-left: none;
}

ul.footer-main li {
    list-style: none;
    padding: 0px 12px;
    border-left: 1px solid #797979;
}

ul.footer-main li a {
    color: #797979;
    font-weight: 600;
}



/*Second footer menu*/

.col-12.footer-two {
    border-bottom: 1px solid rgb(177, 177, 177);
}
.col-12.footer-two {
    padding: 10px 0px;
}

.col-md-6.footer-menu {
    float: left;
}

ul.footer-main.social-media li {
    border-left: none;
}

ul.footer-main.second-menu {
    float: right;
}
ul.footer-main li {
    list-style: none;
    padding: 0px 12px;
    border-left: 1px solid #797979;
}


.col-12 {
    -webkit-box-flex: 0;
  
    flex: 0 0 100%;
    max-width: 100%;
}

ul.footer-main {
    display: flex;
    margin: 0;
    padding: 0;
}

/*Third footer menu*/

.col-md-12.footer-menu-mid {
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 12px;
    font-weight: 100;
    padding: 10px;
}



/*Bottom footer menu*/
section.footer-botom {
    background-color: white;
    padding: 20px 0px;
}

.elementor img {
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*Bottom  menu*/
section.bottom {
    padding: 10px;
    background-color:  rgb(177, 177, 177);
    text-align: center;
}

.footer {
    position: relative;
    display: flex;
}

.copyright {
    text-align: center;
}

.footer p {
    padding: 0;
    margin: 0;
}


/* Social Media Stories*/
  
.FacebookStory{
    padding: 0px;
    padding-top: 25px;
    width: -webkit-fill-available;
   
}

.FacebookCard{
    display: flex;
    position: relative;
    margin-right: 2px;
    margin-left: 10px;
}

.h5.FacebookCardDetails{
    margin-left: 10px;
}

.FacebookCard img {
    width: 40px;
    height: 40px;
}

.FacebookCardTitle {
    padding-left: 10px;
}
p.Date {
    font-size: 12px;
    padding: 0;
    margin: 0;
}

a.FacebookCardImage img {
    width: 100%;
}

.Reactions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}
.far {
    font-weight: 400;
}
.likes {
    display: inline-flex;
    align-items: center;
}

.likes button {
    color: #616161;
    background-color: #e0e0e0;
    min-height: 30px;
    min-width: 50px;
}

.f1 a{
color:#616161;
}

  
.InstagramStory{
    padding: 0px;
    padding-top: 25px;
    width: -webkit-fill-available;
   
}

 
.InstagramCard{
    display: flex;
    position: relative;
}
 
.InstagramCard img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: #ce070d;
    
}

 
.InstagramStory img {
  height: auto;
  max-width: 100%;
    
}

p.Location {
    font-size: 12px;
    padding: 0;
    margin: 0;
    color: #797979;
}